<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ops...Algo deu errado</title>

    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/404.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="nav bd-grid"></nav>

    <img src="../assets/img/404.png" alt="" class="four-0-four-image" />
    <p class="four-0-four-msg">
      O que você está procurando não encontramos ou não possui aqui na Bubalão.
    </p>
    <p class="four-0-four-msg">Voltar para a <a href="#">homepage.</a></p>

    <!-- FOOTER -->
    <footer class="footer section"></footer>

    <!-- SCRIPTS -->
    <script src="../assets/js/navbar.js"></script>
    <script src="../assets/js/footer.js"></script>
  </body>
</html>
