<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- CARDS-CONTAINER -->
    <section class="product">
      <h2 class="product__category bd-grid">
        Você pode se interessar por estes produtos também.
      </h2>
      <button class="pre__btn">
        <img src="../assets/img/arrow.png" alt="" />
      </button>
      <button class="nxt__btn">
        <img src="../assets/img/arrow.png" alt="" />
      </button>
      <div class="container__product">
        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>

        <div class="card__product">
          <div class="image__product">
            <span class="discount__tag">50% off</span>
            <img src="./img/card5.png" alt="" class="thumb__product" />
            <button class="card-btn">+ lista de desejos</button>
          </div>
          <div class="info__product">
            <h2 class="brand__product">brand</h2>
            <p class="short__desc_product">a short line about the cloth...</p>
            <span class="price">$20</span><span class="actual__price">$40</span>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
