<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Como comprar | Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
      <section class="home">
        <div class="section__info">
          <h1 class="info-title">
            <i class='bx bxs-shopping-bag' ></i> Como Comprar
          </h1>
          <p class="info-text">
            <p class="info-text">Para comprar no site Bubalão, basta encontrar o produto desejado, selecionar o tamanho e clicar no botão “COMPRAR”. Para conferir os seus produtos, clique em “CARRINHO”, ou no ícone da sacola no cabeçalho do site.</p>

            <p class="info-text">Você pode navegar pelo site escolhendo pelos tipos de produto e, após escolher os produtos que deseja, você preencherá um cadastro, fornecendo seus dados pessoais e de entrega. Caso possua cadastro no site Bubalão, basta acessar sua conta com login (seu email cadastrado) e senha.</p>
            
            <p class="info-text">A compra no site Bubalão é feita da seguinte maneira:
              <ul class="info-text">
                  <li><i class='bx bxs-chevron-right' ></i> Adicione os produtos que deseja comprar no carrinho.</li>
                  <li><i class='bx bxs-chevron-right' ></i> Informe seu CEP para calcular o valor do frete.</li>
                  <li><i class='bx bxs-chevron-right' ></i> Selecione a opção de frete desejada e clique no botão “ATUALIZAR TOTAL”.</li>
                  <li><i class='bx bxs-chevron-right' ></i> Clique no botão “FINALIZAR COMPRA”.</li>
                  <li><i class='bx bxs-chevron-right' ></i> Acesse sua conta ou faça seu cadastro.</li>
                  <li><i class='bx bxs-chevron-right' ></i> Informe seus dados de entrega.</li>
                  <li><i class='bx bxs-chevron-right' ></i> Informe seus dados de pagamento.</li>
              </ul>

              <p class="info-text">Confirme seus dados de compra, pagamento e pronto, seu pedido estará finalizado.</p>
            
          </p>
        </div>
      </section>

      <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
