<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guia de Medidas | Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
      <div class="container">
        <h1 class="info-title">
          <i class="bx bx-user-voice icon"></i>Guia de Medidas
        </h1>

        <p class="info-text">
          A tabela apresentada abaixo é uma tabela padrão de pesos e medidas
          correspondentes a idade de cada bebê.
        </p>
        <p class="info-text">
          Para saber o tamanho certo para o seu bebê observe principalmente os
          dados de peso e altura.
        </p>

        <img
          src="../assets/img/medidas.jpg"
          alt="Tabela de medidas"
          class="img-medidas"
        />
        <img src="../assets/img/medida-calcado.jpg" alt="Tabela de medidas" />
      </div>

      <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
