<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>

  <body>
    <!-- Início do Header -->
    <header class="header">
      <div class="container">
        <div class="header-superior">
          <div class="header-item item-left">
            <div class="logo">
              <a href="../index.html">
                <img
                  src="../assets/img/logo.png"
                  alt="Logo da Bubalão"
                  class="nav__logo"
                />
              </a>
            </div>
          </div>

          <!-- Search Bar e ícones -->
          <div class="item-center">
            <div class="search-box">
              <input
                type="text"
                class="search-text"
                placeholder="Pesquisar..."
              />
              <a href="#"><i class="bx bxs-search bx-sm icon-search"></i></a>
            </div>
          </div>

          <!-- menu mobile -->
          <div>
            <div class="menu-overlay"></div>
            <div class="mobile-menu-trigger">
              <span></span>
            </div>
          </div>

          <div class="item-right">
            <div class="menu">
              <ul class="menu-main">
                <li class="menu-item-has-children">
                  <a href="./login.html"
                    ><i class="bx bxs-user bx-sm"></i
                    ><span>Faça o login aqui</span></a
                  >

                  <!-- SUB MENU CONTA APÓS O LOGIN -->
                  <div class="sub-menu single-column-menu-icons logged">
                    <ul class="">
                      <li class="menu-item-has-children-1">
                        <a href="./minhaconta.html"
                          ><i class="bx bx-user"></i> Minha conta</a
                        >
                      </li>
                      <li class="menu-item-has-children-1">
                        <a href=""><i class="bx bx-box"></i> pedidos</a>
                      </li>
                    </ul>
                  </div>

                  <!-- SUB MENU CONTA ANTES DO LOGIN -->
                  <div class="sub-menu single-column-menu-icons">
                    <ul class="">
                      <li class="menu-item-has-children-1">
                        <a href="./login.html"
                          ><i class="bx bx-user"></i> Entrar</a
                        >
                      </li>
                      <li class="menu-item-has-children-1">
                        <a href="./signup.html"
                          ><i class="bx bx-user"></i> Cadastrar</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <a class="navbar-icon" href="./components/cart.html"
                ><i class="bx bxs-shopping-bag bx-sm"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- Início do menu -->
        <div class="header-item item-center">
          <nav class="menu">
            <div class="mobile-menu-head">
              <div class="go-back">
                <i class="bx bx-chevron-left bx-sm"></i>
              </div>
              <div class="current-menu-title"></div>
              <div class="mobile-menu-close">&times;</div>
            </div>
            <ul class="menu-main">
              <li class="menu-item-has-children">
                <a href="#"
                  >Todos os Produtos<i class="bx bx-chevron-down bx-sm"></i
                ></a>
                <div class="sub-menu mega-menu mega-menu-column-4">
                  <div class="list-item">
                    <h4 class="title">Menina</h4>
                    <ul>
                      <li><a href="#">Acessórios</a></li>
                      <li class="menu-item-has-children-1">
                        <a href="#"
                          >Bermudas, Shorts e Saias<i
                            class="bx bx-chevron-down"
                          ></i
                        ></a>
                        <div class="sub-menu-1 mega-menu mega-menu-column-4">
                          <div class="list-item">
                            <ul>
                              <li><a href="#">Cores</a></li>
                              <li><a href="#">Marcas</a></li>
                              <li><a href="#">Tamanhos</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="menu-item-has-children-1">
                        <a href="#">Body<i class="bx bx-chevron-down"></i></a>
                        <div class="sub-menu-1 mega-menu mega-menu-column-4">
                          <div class="list-item">
                            <ul>
                              <li><a href="#">Cores</a></li>
                              <li><a href="#">Marcas</a></li>
                              <li><a href="#">Tamanhos</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        <a href="#"
                          >Calçados<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#">Calças<i class="bx bx-chevron-down"></i></a>
                      </li>
                      <li>
                        <a href="#"
                          >Camisas e Camisetas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Casacos e Malhas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Conjuntos<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Macacões<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Moda Praia<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Pijamas e Camisolas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Vestidos<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Linha Festas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Linha Fantasia<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="list-item">
                    <h4 class="title">Menino</h4>
                    <ul>
                      <li>
                        <a href="#"
                          >Acessórios<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Bermudas, Shorts<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Calçados<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#">Calças<i class="bx bx-chevron-down"></i></a>
                      </li>
                      <li>
                        <a href="#"
                          >Camisas e Camisetas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Casacos e Malhas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Conjuntos<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Moda Praia<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Pijamas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Linha Festas<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          >Linha Fantasia<i class="bx bx-chevron-down"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="list-item">
                    <h4 class="title">Outros</h4>
                    <ul>
                      <li><a href="#">Batizados</a></li>
                      <li><a href="#">Calçados</a></li>
                      <li><a href="#">Mantas e Cobertores</a></li>
                      <li><a href="#">Saída Maternidade</a></li>
                    </ul>

                    <h4 class="title">Tamanhos</h4>
                    <ul>
                      <li><a href="#">Bebê (RN ao GG)</a></li>
                      <li><a href="#">Kids (1 a 8 anos)</a></li>
                    </ul>
                  </div>
                  <div class="list-item">
                    <img src="../assets/img/product/shop2.jpg" alt="shop" />
                  </div>
                </div>
              </li>
              <li class="menu-item-has-children">
                <a href="#"
                  >Novidades<i class="bx bx-chevron-down bx-sm"></i
                ></a>
                <div class="sub-menu mega-menu mega-menu-column-4">
                  <div class="list-item text-center">
                    <a href="#">
                      <img src="../assets/img/produto1.jpg" alt="new Product" />
                      <h4 class="title">Produto 1</h4>
                    </a>
                  </div>
                  <div class="list-item text-center">
                    <a href="#">
                      <img src="../assets/img/produto2.jpg" alt="new Product" />
                      <h4 class="title">Produto 2</h4>
                    </a>
                  </div>
                  <div class="list-item text-center">
                    <a href="#">
                      <img src="../assets/img/produto3.jpg" alt="new Product" />
                      <h4 class="title">Produto 3</h4>
                    </a>
                  </div>
                  <div class="list-item text-center">
                    <a href="#">
                      <img src="../assets/img/produto4.jpg" alt="new Product" />
                      <h4 class="title">Produto 4</h4>
                    </a>
                  </div>
                </div>
              </li>

              <li class="menu-item-has-children">
                <a href="#">Menina<i class="bx bx-chevron-down bx-sm"></i></a>
                <div class="sub-menu single-column-menu">
                  <ul>
                    <li><a href="#">Acessórios</a></li>
                    <li><a href="#">Bermudas, Shorts e Saias</a></li>
                    <li><a href="#">Body</a></li>
                    <li><a href="#">Calçados</a></li>
                    <li><a href="#">Calças</a></li>
                    <li><a href="#">Camisas e Camisetas</a></li>
                    <li><a href="#">Casacos e Malhas</a></li>
                    <li><a href="#">Conjuntos</a></li>
                    <li><a href="#">Macacões</a></li>
                    <li><a href="#">Moda Praia</a></li>
                    <li><a href="#">Pijamas e Camisolas</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Linha Festas</a></li>
                    <li><a href="#">Linha Fantasia</a></li>
                  </ul>
                </div>
              </li>
              <li class="menu-item-has-children">
                <a href="#">Menino<i class="bx bx-chevron-down bx-sm"></i></a>
                <div class="sub-menu single-column-menu">
                  <ul>
                    <li><a href="#">Acessórios</a></li>
                    <li><a href="#">Bermudas, Shorts</a></li>
                    <li><a href="#">Calçados</a></li>
                    <li><a href="#">Calças</a></li>
                    <li><a href="#">Camisas e Camisetas</a></li>
                    <li><a href="#">Casacos e Malhas</a></li>
                    <li><a href="#">Conjuntos</a></li>
                    <li><a href="#">Moda Praia</a></li>
                    <li><a href="#">Pijamas</a></li>
                    <li><a href="#">Linha Festas</a></li>
                    <li><a href="#">Linha Fantasia</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <!-- Fim do menu -->
      </div>
    </header>

    <script src="../assets/js/header.js"></script>
  </body>
</html>
