<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bubalão - Faça o Login</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <link rel="stylesheet" href="../assets/css/login.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <img src="./img/loader.gif" alt="" class="loader" />

    <div class="alert-box">
      <img src="./img/error.png" alt="" class="alert-img" />
      <p class="alert-msg">Error message</p>
    </div>

    <div class="container_login">
      <img src="../assets/img/logo.png" alt="" class="logo" />
      <h3 class="section-title">Login</h3>

      <div class="login__form">
        <input type="email" autocomplete="off" id="email" placeholder="email" />
        <input
          type="password"
          autocomplete="off"
          id="password"
          placeholder="Senha"
        />

        <button class="button"><i class="bx bx-log-in"></i> Entrar</button>

        <a href="./signup.html" class="link">Esqueceu a senha?</a>

        <a href="./signup.html" class="link"
          >Clique aqui para criar uma conta</a
        >
      </div>
    </div>

    <script src="../assets/js/token.js"></script>
    <script src="../assets/js/form.js"></script>
  </body>
</html>
