<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meninas - Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/colecao.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header class="l-header" id="header">
      <nav class="nav bd-grid"></nav>
    </header>

    <section class="collection section">
      <div class="collection__container bd-grid">
        <div class="collection__card">
          <div class="collection__data">
            <h3 class="collection__name">Bebê</h3>
            <p class="collection__description">Rn a GG</p>
            <a href="" class="button-light"
              >Conheça<i class="bx bx-right-arrow-alt button-icon"></i
            ></a>
          </div>

          <img
            src="./assets/img/collection1.png"
            alt=""
            class="collection__img"
          />
        </div>

        <div class="collection__card">
          <div class="collection__data">
            <h3 class="collection__name">Kids</h3>
            <p class="collection__description">1 a 8 anos</p>
            <a href="" class="button-light"
              >Conheça <i class="bx bx-right-arrow-alt button-icon"></i
            ></a>
          </div>

          <img
            src="./assets/img/collection2.png"
            alt=""
            class="collection__img"
          />
        </div>
      </div>
    </section>

    <!--NEW COLLECTION -->
    <section class="new section" id="new">
      <h2 class="section-title">Nova Coleção</h2>

      <div class="new__container bd-grid">
        <div class="new__mens">
          <img src="./assets/img/new1.png" alt="" class="new__mens-img" />
          <h3 class="new__title">Vestidos</h3>
          <span class="new__price">A partir de R$79.99</span>
          <a href="#" class="button-light"
            >Conheça<i class="bx bx-right-arrow-alt button-icon"></i
          ></a>
        </div>
        <div class="new__sneaker">
          <div class="new__sneaker-card">
            <h5 class="new__title">Camisetas</h5>
            <img src="./assets/img/new2.png" alt="" class="new__sneaker-img" />
            <div class="new__sneaker-overlay">
              <a href="#" class="button">Ver</a>
            </div>
          </div>
        </div>

        <div class="new__sneaker">
          <div class="new__sneaker-card">
            <h5 class="new__title">Calças</h5>
            <img src="./assets/img/new3.png" alt="" class="new__sneaker-img" />
            <div class="new__sneaker-overlay">
              <a href="#" class="button">Ver</a>
            </div>
          </div>
        </div>

        <div class="new__sneaker">
          <div class="new__sneaker-card">
            <h5 class="new__title">Shorts</h5>
            <img src="./assets/img/new4.png" alt="" class="new__sneaker-img" />
            <div class="new__sneaker-overlay">
              <a href="#" class="button">Ver</a>
            </div>
          </div>
        </div>

        <div class="new__sneaker">
          <div class="new__sneaker-card">
            <h5 class="new__title">Blusas</h5>
            <img src="./assets/img/new5.png" alt="" class="new__sneaker-img" />
            <div class="new__sneaker-overlay">
              <a href="#" class="button">Ver</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- NEWSLETTER  -->
    <section class="newsletter section">
      <div class="newsletter__container bd-grid">
        <div>
          <h3 class="newsletter__title">
            Cadastre-se e receba<br />
            10% OFF
          </h3>
          <p class="newsletter__description">
            10% de desconto em todos os produtos
          </p>
        </div>
        <form action="" class="newsletter__subscribe">
          <input
            type="text"
            placeholder="@email.com"
            class="newsletter__input"
          />
          <a href="" class="button">Cadastrar</a>
        </form>
      </div>
    </section>

    <!--FOOTER    -->
    <footer class="footer section"></footer>

    <script src="../assets/js/navbar.js"></script>
    <script src="../assets/js/footer.js"></script>
  </body>
</html>
