<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/menu.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../index.html" class="nav__link active">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="menu-item">Menina</a>
          <div class="mega-menu">
            <div class="content">
              <div class="col">
                <section>
                  <h2>Featured 1</h2>
                  <a href="#" class="img-wrapper"
                    ><span class="img"
                      ><img
                        src="https://picsum.photos/400?random=1"
                        alt="Random Image" /></span
                  ></a>
                  <p>Lorem ipsum dolor sit amet.</p>
                </section>
              </div>
              <div class="col">
                <section>
                  <h2>Menina</h2>
                  <ul class="mega-links">
                    <li><a href="#">RN a 18 meses</a></li>
                    <li><a href="#">Tamanho 1 a 5</a></li>
                    <li><a href="#">Tamanho 5 a 14</a></li>
                    <li><a href="#">Novidades</a></li>
                    <li><a href="#">Ofertas</a></li>
                  </ul>
                </section>
              </div>
              <div class="col">
                <section>
                  <h2>Categorias</h2>
                  <ul class="mega-links">
                    <li><a href="#">Bermudas e Shorts</a></li>
                    <li><a href="#">Body</a></li>
                    <li><a href="#">Calças</a></li>
                    <li><a href="#">Camisetas</a></li>
                    <li><a href="#">Blusas e Casacos</a></li>
                    <li><a href="#">Saias</a></li>
                    <li><a href="#">Saída de Maternidade</a></li>
                  </ul>
                  <ul class="mega-links">
                    <li><a href="#">Macacões</a></li>
                    <li><a href="#">Saias</a></li>
                    <li><a href="#">Conjutos</a></li>
                    <li><a href="#">Vestidos</a></li>
                    <li><a href="#">Moda Praia</a></li>
                    <li><a href="#">Pijamas</a></li>
                    <li><a href="#">Personagens e Fantasias</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li class="nav__item">
          <a href="./components/menino.html" class="nav__link">Menino</a>
        </li>
        <li class="nav__item">
          <a href="#new" class="nav__link">Novidades</a>
        </li>
        <li class="nav__item">
          <a href="./shop.html" class="nav__link">Ofertas</a>
        </li>
      </ul>
    </div>

    <script src="../assets/js/navbar.js"></script>
  </body>
</html>
