<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Política de Privacidade | Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
      <section class="home">
        <div class="section__info">
          <h1 class="info-title">
            <i class='bx bx-shield-alt-2'></i> Política de Privacidade e Segurança
          </h1>
          <p class="info-text">
            <p class="info-text">A Loja Bubalão Comércio de Artigos Infantis LTDA garante segurança e privacidade de identidade aos clientes que realizam compras em nossa loja.</p>

            <p class="info-text">Nosso objetivo é demonstrar o compromisso com a segurança e a privacidade das informações coletadas através de cadastro de usuários em nosso site.</p>
            
            <p class="info-text">Todos os dados (nome, endereço, número de cartão de crédito, etc.) postados em nosso formulário de cadastro são transmitidos em modo de segurança (SSL - Secure Socket Layer) onde todas as informações são protegidas por sistemas avançados de criptografia e apenas o nosso servidor poderá interpretá-las. Dessa forma, impossibilitamos a interceptação destes dados por terceiros, tornando sua compra totalmente segura.</p>
            
            <p class="info-text">O site Bubalão adotou os níveis totalmente requeridos quanto à segurança na proteção de dados, adquirindo medidas técnicas para se evitar mau uso, alteração, acesso não autorizado ou subtração indevida de dados pessoais recolhidos.</p>
            
            <p class="info-text">Os usuários poderão exercer os direitos de acesso, cancelamento, retificação e oposição. Bem como têm o direito de obterem informações mediante contato com a Loja Bubalão Comércio de Artigos Infantis LTDA pela Central de Atendimento através do e-mail: contato@bubalao.com.br.</p>
            
            <p class="info-text">Os usuários poderão, a qualquer momento, corrigir ou atualizar as informações fornecidas e demais dados cadastrais no próprio site da Loja Bubalão Comércio de Artigos Infantis LTDA. Ao se cadastrar no site, é necessário que você determine uma senha para realizar o login, efetuar compras e acessar seus dados. Se você esquecer sua senha e quiser redefini-la, ou se quiser alterá-la por razões de segurança, faça uma solicitação de “nova senha”. O sistema fará a redefinição da mesma e enviará uma nova senha através do e-mail cadastrado. Querendo modificá-la, basta acessar o seu cadastro e fazer a troca.</p>
            
            <p class="info-text">Lembre-se que ao acessar esse site e/ou fornecer seus dados pessoais, o usuário automaticamente declara conhecer e aceitar os termos das Condições de Uso e da Política da Privacidade.</p>
            
            <p class="info-text">Será de total responsabilidade do usuário a garantia da veracidade e exatidão dos dados pessoais fornecidos neste site, ficando certo que o usuário isenta desde já a Loja Bubalão Comércio de Artigos Infantis LTDA de quaisquer responsabilidades e/ou transtornos quanto à inexatidão de tais informações, podendo ainda a Loja Bubalão Comércio de Artigos Infantis LTDA, suspender ou cancelar imediatamente, independente de notificação, a conta de cadastro do usuário e recusar toda e qualquer utilização.</p>
            
            <p class="info-text">Somos autorizados a transmitir seus dados a terceiros caso isto seja necessário para cumprir regulações legais (por exemplo, da Lei Federal de Proteção de Dados), como no caso da transmissão de dados a autoridades de perseguição penal e inspeção para fins de defesa de perigos para a segurança pública, bem como a perseguição penal.</p>
            
            <p class="info-text">A equipe da Loja Bubalão Comércio de Artigos Infantis LTDA reserva-se ao direito de alterar este acordo, a qualquer momento, com devida comunicação no próprio site e com antecedência razoável a sua colocação em prática.</p>
            
            <p class="info-text">Nós, da Loja Bubalão Comércio de Artigos Infantis LTDA trabalhamos com ética e respeito, oferecendo um serviço de qualidade e com total segurança.</p>
          </p>
        </div>
      </section>

      <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
