<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Política de Entrega | Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
      <section class="home">
        <div class="section__info">
          <h1 class="info-title">
            <i class='bx bxs-truck' ></i> Política de Entrega
          </h1>
          <p class="info-text">
            <p class="info-text">A Loja Bubalão Comércio de Artigos Infantis LTDA oferece aos seus clientes serviços de qualidade e por isso tem uma Política de Entrega transparente. Nossas entregas são feitas através de transportadoras, como os Correios, com opções selecionadas pelo cliente, tarifadas conforme a modalidade escolhida.</p>

            <p class="info-text">O prazo de entrega será contado após a confirmação dos seus dados cadastrais e após o pagamento para posterior envio do produto, variando de acordo com o CEP - contando apenas dias úteis, desconsiderando sábados, domingos e feriados.</p>
            
            <p class="info-text">O mesmo poderá ser enviado em até 48hs após a confirmação do pagamento.</p>
            
            <p class="info-text">Para pagamento em boleto bancário, o banco poderá levar até 02 (dois) dias úteis para comunicar a Loja Bubalão Comércio de Artigos Infantis LTDA o processo de compensação bancária. Para contagem do prazo de entrega, será considerado o horário da aprovação do pagamento e não o momento da sua compra.</p>
            
            <p class="info-text">A entrega poderá ser feita a terceiros (parentes, moradores da mesma residência ou porteiros), desde que o mesmo assine o comprovante de entrega.</p>
            
            <p class="info-text">A ausência do cliente no endereço da entrega, recusa do produto pelo cliente, mudança de endereço ou dados cadastrais incorretos podem comprometer o prazo de entrega estimado. Nesses casos, o nosso serviço de atendimento ao cliente estará à disposição para encontrar a melhor solução.</p>
            
            <p class="info-text">Motivos de forças maiores como greves, enchentes, catástrofes naturais, roubo ou furto na transportadora, acidentes de grandes proporções ou outras ocasiões não previstas também podem impedir a realização da entrega no prazo estimado.

            </p>


            <div class="info-text">
              <h3 class="info-title">Política de Frete</h3>
              <p class="info-text">FRETE GRÁTIS PARA COMPRAS ACIMA DE R$300,00</p>
            
              <p class="info-text">O valor do frete está relacionado às dimensões e peso dos produtos selecionados, à distância do local de entrega da encomenda e a forma de entrega.</p>
              
              <p class="info-text">O cálculo é feito automaticamente pelo nosso sistema no momento do fechamento de sua compra. Você também tem a opção de simular o valor do frete antecipadamente. Para isso, ao adicionar os produtos ao carrinho, informe o seu CEP e clique no botão "Calcular Frete".</p>

              <p class="info-text">No momento de escolher a opção de frete, se atente aos valores. Assim você poderá optar se prefere uma entrega mais rápida ou mais econômica (valores de acordo com a transportadora).</p>
            </div>
            
            
            
            
          </p>
        </div>
      </section>

      <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
