<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
        <section class="home">
            <div class="section__info">
            
              <h1 class="info-title"><i class='bx bxs-store icon-text'></i> Quem somos</h1>
              <p class="info-text">
                A Loja Bubalão Comércio de Artigos Infantis LTDA foi fundada em 2014
                pelo atual Diretor-Presidente Eric Garcia e Camila Fonseca.
                 Atuamos como varejistas no comércio de artigos infantis (como roupas, sapatos
                  e acessórios) para crianças de até 4 anos de idade.  
               Nossa sede se
                  localiza na cidade de Mogi das Cruzes, São Paulo. Hoje mantemos um
                  canal de vendas por celular, televendas (11. 3907-9688) e pelo
                  e-commerce.
              </p>
              <br />
      
              <p class="info-text">
                Aqui você encontra os serviços e vantagens que somente a Bubalão
                Comércio de Artigos Infantis LTDA oferece com exclusividade aos
                clientes.
                
                <p class="info-text">As marcas que trabalhamos:</p>
                <ul>
                    <li><i class='bx bxs-chevron-right' ></i> Noruega Baby</li>
                    <li><i class='bx bxs-chevron-right' ></i> Gambo Baby</li>
                    <li><i class='bx bxs-chevron-right' ></i> Beth Bebê</li>
                    <li><i class='bx bxs-chevron-right' ></i> E muitas outras</li>
                  
                </ul>
              </p>
            </div>
        </section>


          <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
