<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bubalão - Crie sua conta</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <link rel="stylesheet" href="../assets/css/signup.css" />
  </head>
  <body>
    <img src="./img/loader.gif" alt="" class="loader" />

    <div class="alert-box">
      <img src="./img/error.png" alt="" class="alert-img" />
      <p class="alert-msg">Error message</p>
    </div>

    <div class="container">
      <img src="../assets/img/logo.png" alt="" class="logo" />

      <h3 class="section-title">Crie sua conta</h3>

      <section class="signup__form">
        <div class="signup__form_personal">
          <p><i class="bx bxs-user icon"></i>Informações pessoais</p>
          <input
            type="text"
            autocomplete="off"
            id="name"
            placeholder="Nome Completo*"
          />
          <input
            type="number"
            autocomplete="off"
            id="number"
            placeholder="CPF / CNPJ*"
          />
          <input
            type="text"
            autocomplete="off"
            id="tel"
            placeholder="Celular*"
          />
          <input
            type="date"
            autocomplete="off"
            id="date"
            placeholder="Nscimento*"
          />
          <input
            type="email"
            autocomplete="off"
            id="email"
            placeholder="email*"
          />
          <input
            type="password"
            autocomplete="off"
            id="password"
            placeholder="Senha*"
          />

          <input
            type="password"
            autocomplete="off"
            id="password"
            placeholder="Confirme sua Senha*"
          />
        </div>

        <div class="signup__form_address">
          <p><i class="bx bxs-truck icon"></i>Informações de entrega</p>
          <input type="number" autocomplete="off" id="cep" placeholder="CEP*" />
          <input
            type="text"
            autocomplete="off"
            id="endereco"
            placeholder="Endereço*"
          />

          <div class="signup__form_flex">
            <input
              type="number"
              autocomplete="off"
              id="numero_casa"
              placeholder="Nº*"
            />
            <input
              type="text"
              autocomplete="off"
              id="complemento"
              placeholder="Complemento"
            />
          </div>

          <input
            type="text"
            autocomplete="off"
            id="bairro"
            placeholder="Bairro*"
          />

          <div class="signup__form_flex">
            <input
              type="text"
              autocomplete="off"
              id="bairro"
              placeholder="Cidade*"
            />

            <input
              type="text"
              autocomplete="off"
              id="estado"
              placeholder="Estado*"
            />
          </div>
        </div>

        <div class="signup__form_btn">
          <p>
            <i class="bx bxs-message-alt-error icon"></i>Informações importantes
          </p>

          <input type="checkbox" checked class="checkbox" id="terms-and-cond" />
          <label for="terms-and-cond" class="label"
            >Estou de acordo com os <a href="#">Termos e Condições</a></label
          >
          <br />

          <input class="checkbox" type="checkbox" id="notification" />
          <label for="notification" class="label"
            >Quero receber novidades da Bubalão</label
          >
          <button class="button btn-signup">Criar minha conta</button>
          <a href="./login.html" class="link"
            >Já possui uma conta? Faça o Login</a
          >
        </div>
      </section>
    </div>

    <script src="../assets/js/token.js"></script>

    <script src="../assets/js/form.js"></script>
  </body>
</html>
