<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Termos e Condições | Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
      <section class="home">
        <div class="section__info">
          <h1 class="info-title">
            <i class='bx bxs-edit' ></i></i> Termos E Condições
          </h1>
          <p class="info-text">
            O site da Bubalão é 100% seguro; pois possui o selo de criptografia
            com segurança 128 bits. A Bubalão reconhece a importância da
            privacidade de seus dados pessoais, por isso quando recebemos as
            informações de nossos clientes, as mesmas ficam guardadas em nosso
            sistema e de segurança garantida. Não permitimos acesso à terceiros
            de informações como: e-mails, telefones e endereços; para fins de
            propagandas. As únicas propagandas feitas serão da Bubalão e sempre
            identificadas com o nosso logotipo e o nosso email.
          </p>
        </div>
      </section>

      <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
