<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trocas e Devoluções | Bubalão</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header></header>
    <main class="main l-main">
        <section class="home">
            <div class="section__info">
            
              <h1 class="info-title"><i class='bx bx-repost' ></i> Troca, Devoluções e Cancelamentos</h1>
              <p class="info-text">
                Oferecemos aos nossos clientes produtos de qualidade, buscando parcerias com os melhores fornecedores. Para conquistar sua satisfação em todas as compras e pedidos, criamos uma Política de Troca e Devolução.
              </p>
              <br />

              <div class="info-text">
      
              <h3 class="info-title">Condições Gerais</h3>
              <p class="info-text">
                Todas as ocorrências que envolvam trocas e devoluções deverão ser comunicadas obrigatoriamente no e-mail: contato@bubalao.com.br.

                Produtos devolvidos sem a prévia comunicação, fora do prazo ou com ausência de itens/acessórios que o acompanham ou com indícios de uso, serão reenviados ao cliente sem consulta prévia.
                
                Os produtos não passam por qualquer alteração em nosso Centro de Distribuição. Todos eles são enviados ao cliente exatamente como foram entregues pelos fabricantes.
               
                
                <p class="info-text">Se ocorrer alguma das hipóteses abaixo, você poderá recusar o produto:
                <ul class="info-text">
                    <li><i class='bx bxs-chevron-right' ></i> Produto avariado;</li>
                    <li><i class='bx bxs-chevron-right' ></i> Embalagem aberta ou avariada;</li>
                    <li><i class='bx bxs-chevron-right' ></i> Falta de acessórios;</li>
                    <li><i class='bx bxs-chevron-right' ></i> Produto em desacordo com o pedido.</li>
                </ul>

                <p class="info-text">Se ocorreu alguns destes casos citados acima com o seu pedido, por favor, entre em contato com nosso atendimento em até 72 (setenta e duas) horas.</p>
              </p>
            </div>

              <div class="info-text">

              <h3 class="info-title">Devolução por erro no cadastro</h3>
              <p class="info-text">Os dados cadastrais são de inteira responsabilidade do cliente.

                Caso haja algum problema na entrega dos produtos por erro no endereço cadastrado, o custo de reenvio dos produtos será de responsabilidade do cliente.</p>
              </div>

                <div class="info-text">

                <h3 class="info-title">Devolução por arrependimento e desistência</h3>
              <p class="info-text">Para devolver um produto por arrependimento, é necessário seguir as condições descritas abaixo:

                <ul class="info-text">
                  <li><i class='bx bxs-chevron-right' ></i> O prazo para desistência é de 07 (sete) dias corridos, a contar da data do recebimento (com bases nas informações de rastreamento);</li>
                  <li><i class='bx bxs-chevron-right' ></i> O produto deverá ser encaminhado na embalagem original, sem indícios de uso, sem violação do lacre original do fabricante, acompanhado de Cupom Fiscal, manual e todos os seus acessórios;</li>
                  <li><i class='bx bxs-chevron-right' ></i> O ressarcimento será feito de acordo com o meio de pagamento utilizado para a compra;</li>
                  <li><i class='bx bxs-chevron-right' ></i> O valor a ser ressarcido será o mesmo, excluído somente o valor do frete.</li>
              </ul>
              </p>
              </div>

              <div class="info-text">
              <h3 class="info-title">Produto com defeito</h3>
              
                <p class="info-text">A solicitação de troca deverá ser realizada em até 30 (trinta) dias corridos - a contar da data do recebimento (com base nas informações de rastreamento) - através do e-mail: contato@bubalao.com.br.</p>

                <p class="info-text">Se o produto adquirido apresentar defeito, você poderá entrar em contato conosco para comunicar a ocorrência e obter esclarecimentos através do e-mail: contato@bubalao.com.br. </p>
                
                <p class="info-text">Produtos devolvidos deverão estar sem violação da etiqueta, acompanhados de Cupom Fiscal, de todos os acessórios e, preferencialmente, na embalagem original.</p>
                
                <p class="info-text">Todos os produtos passarão por uma prévia análise e caso seja constatado a ausência de defeito ou descumprimento de alguma das condições descritas no tópico anterior, o produto será reenviado ao cliente.</p>
                
                <p class="info-text">A troca poderá ser realizada por outro produto e o valor do frete para reenvio será por conta da Loja Bubalão Comércio de Artigos Infantis LTDA.</p></div>

                <div class="info-text">
                  <h3 class="info-title">Como trocar um produto</h3>
                  
                    <p class="info-text">Consulte a Política de Troca e Devolução e faça a solicitação da troca.<br/>

                      São necessárias as seguintes informações:</p>
    
                      <p class="info-text">Se ocorrer alguma das hipóteses abaixo, você poderá recusar o produto:
                        <ul class="info-text">
                            <li><i class='bx bxs-chevron-right' ></i> Nome completo e email;</li>
                            <li><i class='bx bxs-chevron-right' ></i> Número do pedido;</li>
                            <li><i class='bx bxs-chevron-right' ></i> Motivo da troca ou devolução;</li>
                            <li><i class='bx bxs-chevron-right' ></i> Endereço para reenvio da troca: número, código postal (CEP), cidade, estado, país;</li>
                            <li><i class='bx bxs-chevron-right' ></i> Produtos retornados: quantidade, referência, nome, tamanho;</li>
                            <li><i class='bx bxs-chevron-right' ></i> Produto a reenviar: quantidade, referência, item, tamanho, valor do item;</li>
                            <li><i class='bx bxs-chevron-right' ></i> Você poderá trocar tamanho ou a cor independentemente da marca ou coleção.</li>
                        </ul>
                    
                    <p class="info-text">Como a Loja Bubalão Comércio de Artigos Infantis LTDA trabalha com itens de EFG, não há reposição para a maioria dos produtos. Caso o estoque do produto adquirido se esgote, não será possível realizar a troca pelo mesmo produto. Ficando, a critério do cliente, a escolha por outro produto.</p></div>


                    <div class="info-text">
                      <h3 class="info-title">Como devolver um produto</h3>
                      
                        <p class="info-text">Consulte a Política de Troca e Devolução e faça a solicitação da troca. <br/>

                          O produto poderá ser enviado pela transportadora e todas as instruções serão informadas na central de atendimento. <br/>
                          
                          A devolução do produto deverá ser enviada com a segunda via da Nota Fiscal e o motivo de devolução.</p>
        
                    </div>    
                    
                    <div class="info-text">
                      <h3 class="info-title">Prazo para resolução de troca</h3>
                      
                        <p class="info-text">O prazo estabelecido para trocas é de 3 (três) dias corridos a contar da data do recebimento (com base nas informações de rastreamento), exceto para produtos com defeitos, onde a troca poderá ser realizada no prazo de 15 (quinze) dias corridos a contar da data do recebimento.</p>
                    </div>  
                    
                    <div class="info-text">
                      <h3 class="info-title">Ressarcimento de valores de pedidos cancelados</h3>
                      
                        <p class="info-text">A Loja Bubalão Comércio de Artigos Infantis LTDA fará a restituição dos valores pagos utilizando a mesma forma de pagamento escolhida no processo de compra.<br/>

                          <p class="info-text">Em compras pagas com Cartão de Crédito, a administradora de cartões será notificada e será realizado o estorno do valor pago.</p>
                          
                          <p class="info-text">Em compras pagas com Boleto Bancário ou Débito em Conta, a restituição será efetuada por meio de depósito bancário na Conta Corrente indicada pelo consumidor, em até 3 (três) dias úteis. Faz-se necessário que o CPF do titular da conta corrente seja o mesmo que consta no pedido (CPF DO CLIENTE).</p>
                          
                          <p class="info-text">Importante: em caso de devolução, a restituição será processada após o recebimento e análise das condições do produto em nossa Central de Distribuição.</p>
                          
                          <p class="info-text">A Loja Bubalão Comércio de Artigos Infantis LTDA fica isenta da obrigação de cancelar ou trocar qualquer produto que apresente claramente, uso e falta dos itens mencionados do tópico anterior.</p>
                        </p>
                    </div>  
            </div>
        </section>


          <!-- NEWSLETTER  -->
      <section class="newsletter section home">
        <div class="newsletter__container bd-grid">
          <div>
            <h3 class="newsletter__title">
              Cadastre-se e receba<br />
              10% OFF
            </h3>
            <p class="newsletter__description">
              10% de desconto em todos os produtos
            </p>
          </div>
          <form action="" class="newsletter__subscribe">
            <input
              type="text"
              placeholder="@email.com"
              class="newsletter__input"
            />
            <a href="" class="button">Cadastrar</a>
          </form>
        </div>
      </section>
    </main>
    <footer></footer>

    <script src="./assets/js/main.js"></script>
  </body>
</html>
