@import url("./_variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--super-light-blue);
  font-family: "Poppins", sans-serif;
}

small {
  font-size: 0.75rem;
  color: #747474;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

.loader {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  display: none;
}

.logo {
  height: 80px;
  display: block;
  margin: 3rem auto 2rem;
}

.home__container_checkout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 1440px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.section-title {
  position: relative;
  font-size: var(--bigger-font-size) !important;
  font-weight: var(--font-medium);
  color: var(--light-pink);
  padding-top: var(--mb-3);
  text-align: center;
}

.checkout__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  max-width: 1240px;
  margin: var(--mb-2) 0;
}

.login__form {
  display: block;
  max-width: 20vw;
  width: 100%;
}

.icon {
  color: var(--light-pink);
  font-size: var(--h2-font-size);
  margin: 0 0.5rem;
  padding-right: 0.2rem;
}

.signup__form_personal,
.checkout__form_address,
.checkout__form_payment,
.checkout__purchase_items,
.checkout__btn {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--white-color);
}

.checkout__btn {
  display: flex;
  flex-direction: column;
}

.checkout__btn_info {
  display: flex;
  color: var(--grey);
  font-size: var(--smaller-font-size);
}

.checkout__btn_info i {
  font-size: var(--bigger-font-size);
}

.btn-payment-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
  color: var(--dark-light);
  padding-top: 1rem;
}

.btn-payment-type-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-payment-type-content p {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-img {
  width: 75px;
  border: none;
  outline: none;
}

.btn-img-pix {
  width: 65px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="tel"],
textarea,
select {
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 0.75rem;
  background-color: var(--light-grey);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  margin: 28px 0;
  color: var(--dark-grey);
  font-size: 0.975rem;
  border: 1px solid var(--grey);
  font-family: "Poppins", sans-serif;
}

.checkout__form_address,
.checkout__purchase_items {
  margin-top: 2rem;
}

.checkout__form_flex,
.checkout__form_payment-num {
  display: flex;
  align-items: center;
  margin: -20px 0;
}

.form_cep {
  display: flex;
  align-items: center;
  margin-bottom: -25px;
}

#cpf,
#cep {
  width: 300px;
  margin-right: 1rem;
}

#cel,
#card-cvc,
#card-date,
#cupom {
  width: 220px;
}

#cupom {
  margin-left: 1rem;
}

#card-date {
  margin-right: 1rem;
}

#numero_casa {
  width: 100px;
  margin-right: 1rem;
}

#estado {
  width: 120px;
  margin-left: 1rem;
}

::placeholder {
  color: var(--dark-grey);
}

.box-btn {
  display: flex;
  border-bottom: 1px solid var(--grey);
}

.cart__table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid var(--grey);
  margin-top: 1rem;
}

.cart__table td:nth-child(1) {
  width: 160px;
}

.cart__table_heading td {
  background-color: var(--light-blue);
  color: var(--white-color);
  font-size: var(--smaller-font-size);
  padding: 0.25rem 0;
  text-align: center;
}

.cart__table_body td {
  text-align: center;
  font-size: var(--smaller-font-size);
  padding: 0.5rem;
}

.cart__price {
  display: flex;
  justify-content: end;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin-top: 1rem;
}

.cart__price td {
  padding: 0.5rem;
  text-align: end;
}

.cart__price td:nth-child(1) {
  font-weight: var(--font-semi-bold);
  font-size: var(--regular-font-size);
}

.checkout__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout__btn i {
  margin-right: 0.25rem;
}

.checkout__button {
  display: block;
  background-color: var(--light-pink);
  color: var(--white-color);
  font-size: var(--regular-font-size);
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.checkout__button:hover {
  transform: translateY(-0.25rem);
  background-color: var(--dark-pink);
}

.btn-cupom {
  padding: 0.685rem 1.25rem;
  margin: 1.75rem 1.5rem;
}

.btn-payment {
  display: flex;
  justify-content: center;
  padding: 0.825rem 5rem;
  margin: 3rem 0;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--dark-grey);
}

.label a {
  color: var(--dark-grey);
}

.link {
  color: var(--dark-grey-light);
  text-align: center;
  display: block;
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  margin: 1rem 0;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  color: var(--light-pink);
}

/* ALERT */

.alert-box {
  width: 300px;
  min-height: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.alert-box.show {
  opacity: 1;
  pointer-events: all;
  top: 50%;
}

.alert-img {
  display: block;
  margin: 10px auto 20px;
  height: 60px;
}

.alert-msg {
  color: #e24c4b;
  font-size: 1.25rem;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
}

/* ====== MEDIA QUERIES ========= */
@media screen and (max-width: 576px) {
  .signup__form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  .signup__form_btn {
    margin: var(--mb-1) 0;
  }
}

@media screen and (min-width: 576px) {
  .signup__form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }

  .signup__form_btn {
    margin: var(--mb-1) 0;
  }
}

@media screen and (min-width: 1024px) {
  .signup__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 1240px) {
  .signup__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 0 5rem;
    text-align: center;
  }
  .button {
    width: 75%;
  }
}
