@import url("./_variables.css");
@import url("./header.css");
@import url("./slide.css");
@import url("./carousel.css");

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--dark-grey);
  background-color: var(--light-grey);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 5rem 0 2rem;
}

.section-title {
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 0.18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-grey);
}

/* LAYOUT */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--super-light-blue);
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav__logo {
  position: relative;
  width: 100px;
  margin: 0 auto;
  padding: 1 0;
}

.login-logout-popup {
  position: absolute;
  right: 2%;
  /* transform: translateX(-5%); */
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  top: 60px;
  width: 200px;
  transition: 0.5s;
  border: 2px solid var(--super-light-blue);
}

.login-logout-popup::after {
  content: "";
  position: absolute;
  top: -5.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 0.5rem;
}

.account-info {
  font-size: 1rem;
}

#user-btn {
  padding: 10px;
  background-color: var(--light-pink);
  color: #fff;
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 20px;
  cursor: pointer;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .nav {
    height: 120px;
  }
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    left: -120%;
    width: 90%;
    height: 50vh;
    padding: 1rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  transition: 0.3s ease-in;
}

.nav__item:last-child {
  margin-right: 2rem;
}

.nav__link:hover {
  color: var(--light-pink);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle,
.nav__shop {
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__shop i {
  padding: 0 1rem;
}

.nav__shop i:hover {
  color: var(--light-pink);
}

/* SHOW MENU */
.show {
  left: 0;
}

/* ACTIVE LINK */
.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 4px;
  height: 4px;
  background-color: var(--dark-pink);
  border-radius: 50%;
}

/* CHANGE COLOR HEADER */
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* HOME */
.home {
  background-color: var(--light-grey);
  overflow: hidden;
}

.home__container {
  height: calc(80vh - 2rem);
  background-color: var(--light-grey);
}

.section__info {
  max-width: 1024px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 4rem 2rem;
}

.section__info i {
  color: var(--dark-pink);
}

.info-title,
.info-text {
  margin-bottom: 2rem;
  color: var(--dark-grey);
}

.info-text {
  line-height: 1.5rem;
  font-size: var(--regular-font-size);
}

.home_sneaker {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 50px;
}

.home__shape {
  width: 220px;
  height: 220px;
  background-color: var(--light-pink);
  border-radius: 50%;
  margin: 0 auto;
}

.home__img {
  position: absolute;
  top: 1rem;
  max-width: min-content;
  width: 275px;
  right: 10rem;
}

.home__new {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.home__title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-6);
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--light-pink);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-0.25rem);
  background-color: var(--dark-pink);
}

.button-light {
  display: inline-flex;
  color: var(--light-pink);
  font-weight: var(--font-bold);
  align-items: center;
  padding-top: 0.25rem;
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: 0.3s;
}

.button-light:hover .button-icon {
  transform: translateX(0.25rem);
}

/* FEATURED */

.feature__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  margin: 0 2rem;
}

.produto {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--super-light-blue);
  border-radius: 0.5rem;
  border: 2px solid var(--super-light-blue);
  transition: 0.3s;
  cursor: pointer;
}

.produto__tag {
  position: absolute;
  left: 0.5rem;
  background-color: var(--light-blue);
  color: var(--white-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  transform: rotate(-90deg);
  letter-spacing: 0.1rem;
}

.produto__img {
  max-width: 100%;
  max-height: 70%;
  object-fit: contain;
}

.produto__nome {
  font-size: var(--regular-font-size);
  font-weight: var(--font-semi-bold);
  padding-top: 0.5rem;
}

.produto__valor {
  font-size: var(--big-font-size);
}

.produto__nome {
  margin: var(--mb-1);
}

.produto__valor {
  margin-bottom: var(--mb-3);
}

.produto:hover,
.calcados__box:hover {
  transform: translateY(-0.5rem);
}

.sneaker__pages {
  margin-top: var(--mb-6);
}

.sneaker__pag {
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-grey);
}

.sneaker__pag:hover {
  background-color: var(--dark-grey);
  color: var(--white-color);
}

/* COLLECTIONS */
.collection__container {
  row-gap: 2rem;
  justify-content: space-around;
}

.collection__card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: var(--super-light-blue);
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.card_img_1,
.card_img_2 {
  background-position: center;
  background-size: cover;
}

.collection__data {
  align-self: flex-start;
  z-index: 10;
}

.collection__img {
  position: absolute;
  /* top: 0;
  right: 0; */
  width: 230px;
}

.collection__name {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.collection__description {
  margin-bottom: var(--mb-2);
}

.collection__card:hover {
  transform: translateY(-0.5rem);
}

/* ---- CALÇADOS  ---- */
.calcados__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.calcados__box {
  position: relative;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--super-light-blue);
  border-radius: 0.5rem;
  border: 2px solid var(--super-light-blue);
  transition: 0.3s;
  cursor: pointer;
}

.calçados__img {
  width: 100%;
}

/* ---- OFFER ---- */
.offer__container {
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background-color: var(--super-light-blue);
  border-radius: 0.5rem;
  justify-content: center;
}

.offer__data {
  padding: 4rem;
}

.offer__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 0.25rem;
}

.offer__description {
  margin-bottom: var(--mb-3);
}

.offer__img {
  /* width: 153px; */
  height: 100%;
}

/* === NEW COLLECTION === */
.new__container {
  row-gap: 2rem;
}

.new__card-girls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--super-light-blue);
  border-radius: 0.5rem;
  padding: 2rem;
}

.new__girls-img {
  width: 276px;
  margin-bottom: var(--mb-3);
}

.new__title {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.new__price {
  display: block;
  margin-bottom: var(--mb-3);
}

.new__card {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new__card-box {
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: var(--super-light-blue);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new__card-box .new__title {
  margin: 0;
}

.new__card-img {
  width: 350px;
  /* height: 250px; */
}

.new__card-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-blue);
  transition: 0.3s;
}

.new__card-overlay-info {
  display: block;
}

.new__title-overlay {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
  color: #fff;
}

.new__price-overlay {
  display: block;
  font-size: var(--regular-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
  color: #fff;
}

.new__card-box:hover .new__card-overlay {
  bottom: 0;
}

/* === NEW COLLECTION 2 === */
.new__container-2 {
  row-gap: 2rem;
}

.new__card-boys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--super-light-blue);
  border-radius: 0.5rem;
  padding: 2rem;
}

.new__boys-img {
  width: 276px;
  margin-bottom: var(--mb-3);
}

/* ===== NEWSLETTER ==== */
.newsletter__container {
  background-color: var(--light-blue);
  color: var(--white-color);
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}
.newsletter__title {
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-2);
}

.newsletter__description {
  margin-bottom: var(--mb-5);
}

.newsletter__subscribe {
  display: flex;
  column-gap: 0.5rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.newsletter__input {
  outline: none;
  border: none;
  width: 90%;
  font-size: var(--normal-font-size);
}

.newsletter__input::placeholder {
  color: var(--dark-grey);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

/* ==== FOOTER ==== */
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 50px var(--mb-3);
}

.footer__box {
  margin-bottom: var(--mb-4);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--light-blue);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
}

.footer__title:last-of-type {
  margin-top: var(--mb-2);
}

.footer__link {
  display: block;
  width: max-content;
  /* margin-bottom: var(--mb-1); */
  font-weight: var(--font-regular);
  color: var(--dark-grey);
  transition: 0.3s ease-in;
}

.footer__link:hover {
  color: var(--light-pink);
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
  margin: var(--mb-3) 0;
}

.footer__description {
  text-align: center;
  font-weight: var(--font-regular);
  margin: var(--mb-3) 0;
}

.footer__social_item {
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.footer__copy {
  padding-top: 3rem;
  font-size: var(--smaller-font-size);
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 15px;
}

/* ====== MEDIA QUERIES ========= */
@media screen and (max-width: 576px) {
  .home {
    background-color: var(--super-light-blue);
    overflow: hidden;
  }

  .home__container {
    height: calc(90vh - 2rem);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .home_sneaker {
    display: block;
    justify-content: center;
    align-self: center;
  }

  .sneaker {
    margin-bottom: 1rem;
  }

  .home__shape {
    width: 200px;
    height: 200px;
    background-color: var(--light-pink);
    border-radius: 50%;
    margin: 5rem auto;
  }

  .home__img {
    position: relative;
    top: 0;
    right: 1rem;
    width: 200px;
  }

  .feature__container {
    display: block;
    gap: 2rem;
    margin: 1rem;
  }

  .collection__container {
    grid-template-columns: 375px;
  }

  .collection__img {
    width: 240px;
  }

  .offer__container {
    grid-template-columns: max-content max-content;
  }

  .offer__data {
    text-align: center;
  }

  .new__mens {
    align-items: center;
  }

  .footer__container {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .footer_box {
    padding-bottom: var(--mb-4);
  }

  .footer__link {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
  }

  .section__info {
    width: calc(90vw - 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem auto;
  }
}

@media screen and (max-width: 576px) {
  body {
    margin: 0;
  }

  .section {
    padding: 5rem 0 3rem;
  }

  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  .home__sneaker {
    order: 1;
    margin: 0 50px;
  }

  .home__shape {
    width: 250px;
    height: 250px;
  }

  .home__img {
    width: 50%;
    top: 12em;
    right: 0;
    left: 20rem;
  }

  .feature__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .collection__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .collection__card {
    width: 45%;
  }

  .collection__img {
    width: 250px;
  }

  .newsletter__container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }

  .newsletter__subscribe {
    margin-bottom: 0;
  }

  .newsletter__subscribe {
    width: 360px;
    height: max-content;
  }

  .section__info {
    width: calc(90vw - 2rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem auto;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    max-height: 90%;
  }

  .home__data {
    position: relative;
    bottom: 15rem;
  }

  .home__shape {
    position: relative;
    width: 296px;
    height: 296px;
    top: 4rem;
    left: 4rem;
  }

  .home__img {
    width: 300px;
    left: 2rem;
  }

  .collection__container {
    display: flex;
  }

  .collection__card {
    width: 400px;
  }

  .new__container,
  .new__container-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .new__card-girls {
    grid-row: 1 / 3;
    align-items: initial;
    justify-content: flex-end;
    padding: 2rem 2rem;
  }

  .new__card-boys {
    grid-row: 2 / 4;
    grid-column: 2;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2rem 2rem;
  }

  .new__card {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* .new__girls-img,
  .new__boys-img {
    margin-bottom: var(--mb-6);
  } */
}
